@page
@model Tavern.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}
<head>
    <title>Home</title>
</head>



    <div class="text-center">
        <h1 class="display-4">Welcome to Tavern</h1>
        <p>The home for finding and organzing online Dungeons and Dragons groups!</p>
    </div>

    <div class="customTable">
        <div class="tableRow">
            <div class="tableData">
                <img src="~/images/characterCreate.jpg" alt="" class="tableHeaderImg"/>
                <h3>Create Characters</h3>
            </div>
            <div class="tableData">
                <img src="~/images/campaignmap.jpg" alt="" class="tableHeaderImg"/>
                <h3>Host Campaigns</h3>
            </div>
            <div class="tableData">
                <img src="~/images/adventure.jpg" alt="" class="tableHeaderImg"/>
                <h3>Adventure with Friends</h3>
            </div>
        </div>
      
    </div>
