@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to D&Dnder</h1>
        <p>The home for finding and organzing online Dungeons and Dragons groups!</p>
    </div>

    <div class="customTable">
        <div class="tableRow">
            <div class="tableData">
                <img src="~/images/characterCreate.jpg" alt="" class="tableHeaderImg"/>
            </div>
            <div class="tableData">
                <img src="~/images/campaignmap.jpg" alt="" class="tableHeaderImg"/>
            </div>
            <div class="tableData">
                <img src="~/images/adventure.jpg" alt="" class="tableHeaderImg"/>
            </div>
        </div>
        
    </div>
</body>

