html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 100vh;
    background-color: #f2f2f2 !important;
    
}

.bodyBackGroundStripe {
    background-color: rgba(209, 209, 209, 0.85) !important;
    left: 20%;
    right: 20%;
    box-sizing: border-box;
    padding-bottom: 10% !important;
    height: inherit;
    border-style: inset;
    border-color: rgb(255, 255, 255);
    z-index: 2;
}

.layoutContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 1px !important;
    margin-left: 1px !important;
    height: auto !important;
    width: auto;
    z-index: 1;
    min-height: calc(100vh-0px);
    background-image: 
        linear-gradient(to bottom, rgb(139, 139, 139, 0.82), rgb(199, 2, 2, 0.23)),
        url(/images/backgroundImage.jpg);
    background-size: cover;
}

.footerContainer {
    margin-left: 2%;
    margin-bottom: 0px;
    position:fixed;
    bottom:0;
    left: 5px;
    clear: both;
}

.footerText {
    text-align: left !important;
}

.navBarZOverride {
    z-index: 3;
    display: flex !important;
}

.bannerContainer {
    display: block;
    width: 100%;
    padding: 0%;
    margin: 0%;
    z-index: 3;
}

    .bannerContainer > .bannerImage {
        display: block;
        width: 100%;
        padding: 0%;
        margin: 0%;
}

.logoText {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 50px;
    color: #b30000;
}

.customTable {
    height: auto;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 50px;
    table-layout:inherit;
    margin: 0px;
}

.tableRow {
    display: table-row;
    width: 100%;
}

.tableHeaderImg {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.tableHeaderText {
    display: table-cell;
    font-weight: normal;
    font-size: 150%;
    /*font-family: 'Times New Roman', Times, serif, Ca;*/
}

.tableData {
    display: table-cell;

}

/*************************************************************************************************************************/
/********************************************CSS STYLES FOR NAV BAR*******************************************************/
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        cursor: pointer;
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
        background-color: red;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.show {
    display: block;
}

.background-hover:hover {
    background-color: red;
}
/*************************************************************************************************************************/
/*************************************************************************************************************************/
@media screen and (max-width: 1360px) {
    .customTable, .tableRow {
        display: block;
    }

    .tableData {
        display: block;
    }

    .tableHeaderImg {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 800px) {
    .customTable, .tableRow {
        display: block;
    }

    .tableData {
        display: block;
    }

    .tableHeaderImg {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
}