@model Tavern.Models.Campaign
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Campaign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CampaignName" class="control-label">Campaign Name</label>
                <input asp-for="CampaignName" class="form-control" />
                <span asp-validation-for="CampaignName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorldName" class="control-label">World Name</label>
                <input asp-for="WorldName" class="form-control" />
                <span asp-validation-for="WorldName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label">Details</label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <input type="button" class="btn btn-primary" value="Back To List" onclick="location.href='@Url.Action("Index","Campaigns")'" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
