@model Tavern.Models.CampaignListing
@using Tavern.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CampaignListing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <form asp-action="Edit" asp-controller="CampaignListings">

                    @foreach(var character in (dynamic)@ViewData["CampaignCharacters"] as List<CampaignCharacters>)
                    {
                        <input type="hidden" name="ListingID" value= @character.CampaignListingID/>
                        <input type="hidden" name="CharacterID" value= @character.CharacterID/>
                        <input type="submit" value="Remove Player" class="btn btn-danger" />
                    }
                </form>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
