@model Tavern.Models.Character
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create a New Character</h1>
<br/>
<hr />
<br/>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form asp-controller="Characters" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <br />
            <br />
            <div class="form-group">
                <label asp-for="Class" class="control-label">Class</label>
                <select asp-controller="Characters "asp-for="Class" class="form-control">
                    <option value="Artificer">Artificer</option>
		            <option value="Barbarian">Barbarian</option>
		            <option value="Bard">Bard</option>
		            <option value="Blood_Hunter">Blood Hunter</option>
		            <option value="Cleric">Cleric</option>
		            <option value="Druid">Druid</option>
		            <option value="Fighter">Fighter</option>
		            <option value="Monk">Monk</option>
		            <option value="Paladin">Paladin</option>
		            <option value="Ranger">Ranger</option>
		            <option value="Rogue">Rogue</option>
		            <option value="Sorcerer">Sorcerer</option>
		            <option value="Warlock">Warlock</option>
		            <option value="Wizard">Wizard</option>
                </select>
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <br />
	        <br />
	        <br />
            <div class="form-group">
                <label asp-for="Level" class="control-label">Level</label>
                <select asp-for="Level" class="form-control" >
                    <option value="1">1</option>
		            <option value="2">2</option>
		            <option value="3">3</option>
		            <option value="4">4</option>
		            <option value="5">5</option>
		            <option value="6">6</option>
		            <option value="7">7</option>
		            <option value="8">8</option>
		            <option value="9">9</option>
		            <option value="10">10</option>
		            <option value="11">11</option>
		            <option value="12">12</option>
		            <option value="13">13</option>
		            <option value="14">14</option>
		            <option value="15">15</option>
		            <option value="16">16</option>
		            <option value="17">17</option>
		            <option value="18">18</option>
		            <option value="19">19</option>
		            <option value="20">20</option>
                </select>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <br />
	        <br />
	        <br />
            <div class="form-group">
                <label asp-for="Race" class="control-label">Race</label>
                <select asp-for="Race" class="form-control" >
					<option value="Human">Human</option>
					<option value="Elf">Elf</option>
					<option value="Dwarf">Dwarf</option>
					<option value="Gnome">Gnome</option>
					<option value="Halfling">Halfling</option>
					<option value="Tiefling">Tiefling</option>
					<option value="Aasimar">Aasimar</option>
					<option value="Dragonborn">Dragonborn</option>
					<option value="Gith">Gith</option>
					<option value="Goliath">Goliath</option>
					<option value="Half-Elf">Half-Elf</option>
					<option value="Half-Orc">Half-Orc</option>
					<option value="Leonin">Leonin</option>
					<option value="Satyr">Satyr</option>
					<option value="Changeling">Changeling</option>
					<option value="Tortle">Tortle</option>
					<option value="Genasi">Genasi</option>
					<option value="Orc">Orc</option>
					<option value="Goblin">Goblin</option>
					<option value="Custom">Custom</option>
                </select>
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
			<br />
	        <br />
	        <br />
            <div class="form-group">
                <label asp-for="Alignment" class="control-label">Alignment</label>
                <select asp-for="Alignment" class="form-control">
					<option value="Cha_evil">Chaotic Evil</option>
					<option value="Cha_good">Chaotic Good</option>
					<option value="Cha_neutral">Chaotic Neutral</option>
					<option value="Law_evil">Lawful Evil</option>
					<option value="Law_good">Lawful Good</option>
					<option value="Law_neutral">Lawful Neutral</option>
					<option value="Neu_evil">Neutral Evil</option>
					<option value="Neu_good">Neutral Good</option>
					<option value="Neu_true">Neutral</option>
				</select>
                <span asp-validation-for="Alignment" class="text-danger"></span>
            </div>
			<br />
	        <br />
	        <br />
            <div class="form-group">
                <label asp-for="Bio" class="control-label">Name</label>
                <textarea asp-for="Bio" class="form-control" rows="10" cols="20"></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
			<br />
	        <br />
	        <br />
            <div class="form-group">
                <input type="submit" value="Create Character" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
